@import "tailwindcss";

body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  html.dark body {
    background-color: #1a202c;
    color: #f7fafc;
  }
  